<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.infrastructure.dao.IActivityDao">


    <select id="queryActivityById" parameterType="java.lang.Long" resultType="org.example.infrastructure.po.Activity">
        SELECT activityId, activityName, activityDesc,beginDateTime, endDateTime,
               stockCount, takeCount, state, creator, createTime, updateTime
        FROM activity
        WHERE activityId = #{activityId}
    </select>

    <sql id="Base_Column_List">
        id,activityId,activityName,
        activityDesc,beginDateTime,endDateTime,
        stockCount,takeCount,state,creator,createTime,updateTime
    </sql>

</mapper>
