<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.infrastructure.dao.IStrategyDao">

    <resultMap id="BaseResultMap" type="org.example.infrastructure.po.Strategy">
        <id column="id" property="id"/>
        <result column="strategyId" property="strategyId"/>
        <result column="strategyDesc" property="strategyDesc"/>
        <result column="strategyMode" property="strategyMode"/>
        <result column="grantType" property="grantType"/>
        <result column="grantDate" property="grantDate"/>
        <result column="extInfo" property="extInfo"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,strategyId,strategyDesc,
        strategyMode,grantType,grantDate,
        extInfo,createTime,updateTime
    </sql>

</mapper>